Repository pgRouting/pgrouting, pull requests merged in 2018-06, with the labels that each got.

#1037 [WIP] Documentation of costFlow functions
  configuration.conf
  doc/costFlow/CMakeLists.txt
  doc/costFlow/costFlow-family.rst
  doc/costFlow/pgr_minCostMaxFlow.rst
  doc/costFlow/pgr_minCostMaxFlow_Cost.rst
  doc/queries/CMakeLists.txt
  doc/queries/doc-pgr_minCostMaxFlow.queries
  doc/queries/doc-pgr_minCostMaxFlow_Cost.queries
  doc/src/pgRouting-concepts.rst
  doc/src/proposed.rst
  include/costFlow/pgr_costFlowGraph.hpp
  include/costFlow/pgr_minCostMaxFlow.hpp
  sql/costFlow/minCostMaxFlow.sql
  src/costFlow/minCostMaxFlow.c
  src/costFlow/minCostMaxFlow_driver.cpp
  test/costFlow/doc-pgr_minCostMaxFlow.result
  test/costFlow/doc-pgr_minCostMaxFlow.test.sql
  test/costFlow/doc-pgr_minCostMaxFlow_Cost.result
  test/costFlow/doc-pgr_minCostMaxFlow_Cost.test.sql
  test/costFlow/test.conf
Labels: Documentation, Work in Progress, costFLow

#1038 [WIP] Documentation and Implementation of pgr_prim
  configuration.conf
  doc/prim/CMakeLists.txt
  doc/prim/doc-pgr_prim.queries
  doc/prim/images/CMakeLists.txt
  doc/prim/images/prim_sampleData.png
  doc/prim/pgr_prim.rst
  include/c_types/pgr_prim_t.h
  include/drivers/prim/prim_driver.h
  include/prim/pgr_prim.hpp
  sql/prim/prim.sql
  src/prim/prim.c
  src/prim/prim_driver.cpp
  test/prim/doc-prim.result
  test/prim/doc-prim.test.sql
  test/prim/test.conf
Labels: Prim, Work in Progress

#1039 [WIP] Implementation of pgr_bellman_ford
  include/bellman_ford/pgr_bellman_ford.hpp
  include/drivers/bellman_ford/bellman_ford_driver.h
  run.sh
  sql/bellman_ford/bellman_ford.sql
  src/bellman_ford/bellman_ford.c
  src/bellman_ford/bellman_ford_driver.cpp
Labels: Bellman Ford, Work in Progress

#1036 Flow Family of functions official on pgRouting
  NEWS
  VERSION
  doc/bdDijkstra/pgr_bdDijkstra.rst
  doc/bdDijkstra/pgr_bdDijkstraCost.rst
  doc/dijkstra/pgr_dijkstra.rst
  doc/dijkstra/pgr_dijkstraCost.rst
  doc/dijkstraTRSP/pgr_dijkstraTRSP.rst
  doc/max_flow/flow-family.rst
  doc/max_flow/pgr_boykovKolmogorov.rst
  doc/max_flow/pgr_edgeDisjointPaths.rst
  doc/max_flow/pgr_edmondsKarp.rst
  doc/max_flow/pgr_maxCardinalityMatch.rst
  doc/max_flow/pgr_maxFlow.rst
  doc/max_flow/pgr_pushRelabel.rst
  doc/src/pgRouting-concepts.rst
  doc/src/proposed.rst
  doc/src/release_notes.rst
  doc/src/routingFunctions.rst
  doc/src/sampledata.rst
Labels: Administrative, Documentation, Flow

#1040 [WIP] pgTAP tests for costFlow functions
  pgtap/costFlow/costFlow-innerQuery.sql
  pgtap/costFlow/costFlow-types-check.sql
  pgtap/costFlow/costFlow_Cost-innerQuery.sql
  pgtap/costFlow/costFlow_Cost-types-check.sql
  sql/costFlow/CMakeLists.txt
  sql/costFlow/minCostMaxFlow.sql
  sql/costFlow/pgr_minCostMaxFlow.sql
  sql/costFlow/pgr_minCostMaxFlow_Cost.sql
  tools/testers/inner_styles.sql
Labels: Work in Progress, costFLow

#1042 [WIP]Implementation of pgr_bellman_ford
  doc/bellman_ford/pgr_bellman_ford.rst
  pgtap/bellman_ford/bellman_ford-innerQuery.sql
  pgtap/bellman_ford/bellman_ford-typesCheck.sql
  sql/bellman_ford/CMakeLists.txt
  sql/bellman_ford/_bellman_ford.sql
  sql/bellman_ford/bellman_ford.sql
  src/bellman_ford/bellman_ford.c
Labels: Bellman Ford, New branch

#1044 Implementation of pgr_prim with refined signature
  doc/prim/doc-pgr_prim.queries
  doc/prim/images/CMakeLists.txt
  doc/prim/images/prim_sampleData.png
  doc/prim/pgr_prim.rst
  pgtap/prim/compare.test.sql
  pgtap/prim/prim-types-check.sql
  test/prim/doc-prim.result
Labels: Prim, Work in Progress

#1047 [WIP] Basic code of pgr_kruskal
  include/drivers/prim/kruskal_driver.h
  include/prim/pgr_kruskal.hpp
  sql/prim/CMakeLists.txt
  sql/prim/kruskal.sql
  src/prim/CMakeLists.txt
  src/prim/kruskal.c
  src/prim/kruskal_driver.cpp
Labels: Work in Progress, kruskal

#1043 [WIP] Full Implementation of pgr_bellman_ford with Documentation
  doc/bellman_ford/doc-pgr_bellman_ford.queries
  doc/bellman_ford/pgr_bellman_ford.rst
  include/bellman_ford/pgr_bellman_ford.hpp
  include/drivers/bellman_ford/bellman_ford_driver.h
  sql/bellman_ford/_bellman_ford.sql
  sql/bellman_ford/bellman_ford.sql
  src/bellman_ford/bellman_ford.c
  src/bellman_ford/bellman_ford_driver.cpp
Labels: Bellman Ford, Work in Progress

#1046 Dijkstra infinite values handling
  VERSION
  include/dijkstra/pgr_dijkstra.hpp
  pgtap/dijkstra/dijkstra-infinity-cost.test.sql
  pgtap/dijkstra/dijkstra-types-check.sql
  src/common/basePath_SSEC.cpp
  src/common/edges_input.c
Labels: Dijkstra

#1048 Implement pgr_directedChPP framework
  include/drivers/ChPP/directedChPP_driver.h
  sql/ChPP/directedChPP.sql
  sql/ChPP/pgr_directedChPP.sql
  sql/ChPP/pgr_directedChPP_Cost.sql
  src/ChPP/directedChPP.c
  src/ChPP/directedChPP_driver.cpp
Labels: ChPP

#1049 [WIP] Implementation of pgrBellmanFord
  doc/bellman_ford/doc-pgr_bellman_ford.queries
  doc/bellman_ford/pgr_bellman_ford.rst
  include/bellman_ford/bellman_ford_testing.cpp
  include/bellman_ford/pgr_bellman_ford.hpp
  include/cpp_common/pgr_base_graph.hpp
  pgtap/bellman_ford/bellman_ford-compare-dijkstra.sql
  pgtap/bellman_ford/bellman_ford-innerQuery.sql
  pgtap/bellman_ford/bellman_ford-typesCheck.sql
  sql/bellman_ford/_bellman_ford.sql
  sql/bellman_ford/bellman_ford.sql
  src/bellman_ford/bellman_ford_driver.cpp
  test/bellman_ford/doc-bellman_ford.result
  test/bellman_ford/doc-bellman_ford.test.sql
Labels: Bellman Ford, Work in Progress

#1052 Implementation of pgr_directedChPP_Cost
  configuration.conf
  include/ChPP/pgr_ChPP.hpp
  include/ChPP/pgr_directedChPP.hpp
  include/costFlow/pgr_minCostMaxFlow.hpp
  sql/ChPP/CMakeLists.txt
  src/ChPP/CMakeLists.txt
  src/ChPP/directedChPP.c
  src/ChPP/directedChPP_driver.cpp
  src/costFlow/CMakeLists.txt
  src/costFlow/minCostMaxFlow.c
  src/costFlow/minCostMaxFlow_driver.cpp
  src/costFlow/pgr_minCostMaxFlow.cpp
Labels: ChPP
