Repository pgRouting/pgrouting, pull requests merged in 2018-12, with the labels that each got.

#1151 [WIP] pgr_createVerticesTable
  doc/queries/CMakeLists.txt
  doc/queries/doc-pgr_createVerticesTable.queries
  doc/topology/pgr_createVerticesTable.rst
  test/topology/doc-pgr_createVerticesTable.result
  test/topology/doc-pgr_createVerticesTable.test.sql
  test/topology/test.conf
Labels: Documentation, Test Failure, Work in Progress

#1172 Extract vertices
  .travis.yml
  doc/queries/CMakeLists.txt
  doc/queries/doc-pgr_extractVertices.queries
  doc/src/index.rst
  doc/src/proposed.rst
  doc/src/release_notes.back.rst
  doc/topology/CMakeLists.txt
  doc/topology/pgr_extractVertices.rst
  doc/topology/topology-functions.rst
  pgtap/topology/extractVertices/edge-cases.sql
  pgtap/topology/extractVertices/innerQuery.sql
  pgtap/topology/extractVertices/no_crash_test.sql
  pgtap/topology/extractVertices/types-check.sql
  sql/topology/CMakeLists.txt
  sql/topology/extractVertices.sql
  test/topology/doc-pgr_extractVertices.result
  test/topology/doc-pgr_extractVertices.test.sql
  test/topology/test.conf
Labels: Functionality/proposed, Topology

#1174 pgr_analizeOneway documentation queries automatically generated
  doc/queries/doc-pgr_analyzeOneWay.queries
  doc/topology/pgr_analyzeOneWay.rst
  test/topology/doc-pgr_analyzeOneWay.result
  test/topology/doc-pgr_analyzeOneWay.test.sql
  test/topology/test.conf
Labels: Documentation
