Repository pgRouting/pgrouting, pull requests merged in 2018-07, with the labels that each got.

#1054 [WIP]Documentation of pgr_kruskal
  configuration.conf
  doc/mst/CMakeLists.txt
  doc/mst/doc-pgr_kruskal.queries
  doc/mst/doc-pgr_prim.queries
  doc/mst/pgr_kruskal.rst
  doc/mst/pgr_prim.rst
  include/c_types/pgr_kruskal_t.h
  include/c_types/pgr_prim_t.h
  include/drivers/mst/kruskal_driver.h
  include/drivers/mst/prim_driver.h
  include/mst/pgr_kruskal.hpp
  include/mst/pgr_prim.hpp
  pgtap/mst/compare.test.sql
  pgtap/mst/prim-innerQuery.sql
  pgtap/mst/prim-types-check.sql
  sql/mst/CMakeLists.txt
  sql/mst/_prim.sql
  sql/mst/kruskal.sql
  sql/mst/prim.sql
  src/mst/CMakeLists.txt
  src/mst/kruskal.c
  src/mst/kruskal_driver.cpp
  src/mst/prim.c
  src/mst/prim_driver.cpp
  test/mst/doc-kruskal.result
  test/mst/doc-kruskal.test.sql
  test/mst/doc-prim.result
  test/mst/doc-prim.test.sql
  test/mst/test.conf
Labels: Work in Progress, kruskal

#1060 Fix Compile and Documentation Warnings
  doc/bellman_ford/CMakeLists.txt
  doc/bellman_ford/pgr_bellmanFord.rst
  doc/queries/CMakeLists.txt
  doc/queries/doc-bellman_ford.queries
  doc/queries/doc-pgr_bellman_ford.queries
  doc/src/proposed.rst
  include/bellman_ford/pgr_bellman_ford.hpp
  src/bellman_ford/bellman_ford.c
  src/bellman_ford/bellman_ford_neg.c
Labels: Bellman Ford

#1056 pgTAP for pgr_kruskal and Implementation of pgr_stoerWagner
  configuration.conf
  include/c_types/pgr_stoerWagner_t.h
  include/drivers/mincut/stoerWagner_driver.h
  include/mincut/pgr_stoerWagner.hpp
  pgtap/mst/compare.test.sql
  pgtap/mst/kruskal-innerQuery.sql
  pgtap/mst/kruskal-types-check.sql
  sql/mincut/CMakeLists.txt
  sql/mincut/stoerWagner.sql
  src/mincut/CMakeLists.txt
  src/mincut/stoerWagner.c
  src/mincut/stoerWagner_driver.cpp
  tools/testers/inner_styles.sql
Labels: Work in Progress, kruskal, mincut

#1059 [WIP] Implementation of pgr_directedChPP
  include/ChPP/pgr_directedChPP.hpp
  src/ChPP/directedChPP_driver.cpp
Labels: ChPP, Work in Progress

#1061 Experimentation of parallel boost graph
  src/parallel/README.md
  src/parallel/boost_mpi_test.cpp
  src/parallel/mpi_test.cpp
  src/parallel/test_graph_small_1.gr
  src/parallel/test_graph_small_2.gr
Labels: parallel_dijkstra

#1063 Documentation, test, pgTAP for pgr_stoerWagner
  configuration.conf
  doc/mincut/CMakeLists.txt
  doc/mincut/doc-pgr_stoerWagner.queries
  doc/mincut/pgr_stoerWagner.rst
  include/mincut/pgr_stoerWagner.hpp
  pgtap/mincut/compare.test.sql
  pgtap/mincut/stoerWagner-innerQuery.sql
  pgtap/mincut/stoerWagner-types-check.sql
  pgtap/mst/kruskal-innerQuery.sql
  pgtap/mst/prim-innerQuery.sql
  test/mincut/doc-stoerWagner.result
  test/mincut/doc-stoerWagner.test.sql
  test/mincut/test.conf
  tools/testers/inner_styles.sql
Labels: Work in Progress, mincut

#1065 [ChPP]Bug Fix
  include/ChPP/pgr_directedChPP.hpp
  include/costFlow/pgr_minCostMaxFlow.hpp
  src/ChPP/directedChPP_driver.cpp
Labels: ChPP

#1068 [WIP] DAG Shortest Path Algorithm
  configuration.conf
  include/dagShortestPath/pgr_dagShortestPath.hpp
  include/drivers/dagShortestPath/dagShortestPath_driver.h
  pgtap/dagShortestPath/dagShortestPath-innerQuery.sql
  pgtap/dagShortestPath/dagShortestPath-typesCheck.sql
  sql/dagShortestPath/CMakeLists.txt
  sql/dagShortestPath/_dagShortestPath.sql
  sql/dagShortestPath/dagShortestPath.sql
  src/dagShortestPath/CMakeLists.txt
  src/dagShortestPath/dagShortestPath.c
  src/dagShortestPath/dagShortestPath_driver.cpp
Labels: DAG, Work in Progress

#1069 [WIP] Basic code for pgr_randomSpanningTree
  include/c_types/pgr_randomSpanningTree_t.h
  include/drivers/mst/randomSpanningTree_driver.h
  include/mst/pgr_randomSpanningTree.hpp
  sql/mst/CMakeLists.txt
  sql/mst/randomSpanningTree.sql
  src/mst/CMakeLists.txt
  src/mst/randomSpanningTree.c
  src/mst/randomSpanningTree_driver.cpp
Labels: Work in Progress, randomSpanningTree

#1072 Documentation for directedChPP functions
  configuration.conf
  doc/ChPP/CMakeLists.txt
  doc/ChPP/ChPP-family.rst
  doc/ChPP/pgr_directedChPP.rst
  doc/ChPP/pgr_directedChPP_Cost.rst
  doc/queries/doc-pgr_directedChPP.queries
  doc/queries/doc-pgr_directedChPP_Cost.queries
  doc/src/proposed.rst
  doc/src/release_notes.rst
Labels: ChPP, Documentation

#1073 [WIP] Implemention of pgr_dagShortestPath
  configuration.conf
  doc/dagShortestPath/CMakeLists.txt
  doc/dagShortestPath/doc-pgr_dagShortestPath.queries
  doc/dagShortestPath/pgr_dagShortestPath.rst
  doc/queries/doc-dagShortestPath.queries
  doc/queries/doc-pgr_dagShortestPath.queries
  doc/src/proposed.rst
  include/dagShortestPath/pgr_dagShortestPath.hpp
  include/drivers/dagShortestPath/dagShortestPath_driver.h
  sql/dagShortestPath/_dagShortestPath.sql
  sql/dagShortestPath/dagShortestPath.sql
  src/dagShortestPath/dagShortestPath.c
  src/dagShortestPath/dagShortestPath_driver.cpp
  test/dagShortestPath/doc-dagShortestPath.result
  test/dagShortestPath/doc-dagShortestPath.test.sql
  test/dagShortestPath/test.conf
Labels: DAG, Work in Progress

#1079 GSoC'18 MST and Mincut
  VERSION
  configuration.conf
  doc/mincut/CMakeLists.txt
  doc/mincut/doc-pgr_stoerWagner.queries
  doc/mincut/pgr_stoerWagner.rst
  doc/mst/CMakeLists.txt
  doc/mst/doc-pgr_kruskal.queries
  doc/mst/doc-pgr_prim.queries
  doc/mst/pgr_kruskal.rst
  doc/mst/pgr_prim.rst
  include/c_types/pgr_kruskal_t.h
  include/c_types/pgr_prim_t.h
  include/c_types/pgr_randomSpanningTree_t.h
  include/c_types/pgr_stoerWagner_t.h
  include/drivers/mincut/stoerWagner_driver.h
  include/drivers/mst/kruskal_driver.h
  include/drivers/mst/prim_driver.h
  include/drivers/mst/randomSpanningTree_driver.h
  include/mincut/pgr_stoerWagner.hpp
  include/mst/pgr_kruskal.hpp
  include/mst/pgr_prim.hpp
  include/mst/pgr_randomSpanningTree.hpp
  pgtap/mincut/compare.test.sql
  pgtap/mincut/stoerWagner-innerQuery.sql
  pgtap/mincut/stoerWagner-types-check.sql
  pgtap/mst/compare.test.sql
  pgtap/mst/kruskal-innerQuery.sql
  pgtap/mst/kruskal-types-check.sql
  pgtap/mst/prim-innerQuery.sql
  pgtap/mst/prim-types-check.sql
  sql/mincut/CMakeLists.txt
  sql/mincut/stoerWagner.sql
  sql/mst/CMakeLists.txt
  sql/mst/_prim.sql
  sql/mst/_randomSpanningTree.sql
  sql/mst/kruskal.sql
  sql/mst/prim.sql
  sql/mst/randomSpanningTree.sql
  src/mincut/CMakeLists.txt
  src/mincut/stoerWagner.c
  src/mincut/stoerWagner_driver.cpp
  src/mst/CMakeLists.txt
  src/mst/kruskal.c
  src/mst/kruskal_driver.cpp
  src/mst/prim.c
  src/mst/prim_driver.cpp
  src/mst/randomSpanningTree.c
  src/mst/randomSpanningTree_driver.cpp
  test/mincut/doc-stoerWagner.result
  test/mincut/doc-stoerWagner.test.sql
  test/mincut/test.conf
  test/mst/doc-kruskal.result
  test/mst/doc-kruskal.test.sql
  test/mst/doc-prim.result
  test/mst/doc-prim.test.sql
  test/mst/test.conf
Labels: Prim, kruskal, mincut, randomSpanningTree
