Repository pgRouting/pgrouting, pull requests merged in 2018-05, with the labels that each got.

#1023 Moving to legacy pgr_kdijstraCost & pgr_kdijstraPath
  VERSION
  pgtap/deprecated/kdijkstra-any-01.test.sql
  pgtap/deprecated/kdijkstra-issue229.test.sql
  pgtap/deprecated/kdijkstra-issue333.test.sql
  pgtap/deprecated/kdijkstraCost-dijkstraCost-compare.test.sql
  pgtap/deprecated/kdijkstraCost-errors-exceptions-cost.test.sql
  pgtap/deprecated/kdijkstraCost-innerquery.sql
  pgtap/deprecated/kdijkstraPath-dijkstra-compare.test.sql
  pgtap/deprecated/kdijkstraPath-errors-exceptions-path.test.sql
  pgtap/deprecated/kdijkstraPath-innerquery.sql
  sql/deprecated/CMakeLists.txt
  sql/deprecated/kdijkstra-V2.2.sql
  sql/deprecated/legacy.sql
  sql/legacy/routing_legacy.sql
  sql/sigs/pgrouting--3.0.0.sig
Labels: Legacy

#1026 Moving to legacy old signature of several functions
  VERSION
  doc/bdAstar/pgr_bdAstar.rst
  doc/ksp/pgr_KSP.rst
  doc/queries/doc-pgr_bdDijkstra.queries
  pgtap/bdAstar/bdAstar-parameter-types-check.sql
  pgtap/deprecated/apspJohnson-any-00.test.sql
  pgtap/deprecated/apspJohnson-innerQuery.sql
  pgtap/deprecated/apspJohnson-types-check.sql
  pgtap/deprecated/apspJohnson-v2-v3-equivalence.test.sql
  pgtap/deprecated/apspWarshall-any-00.test.sql
  pgtap/deprecated/apspWarshall-innerQuery.sql
  pgtap/deprecated/apspWarshall-types-check.sql
  pgtap/deprecated/apspWarshall-v2-v3-equivalence-directed.test.sql
  pgtap/deprecated/apspWarshall-v2-v3-equivalence-undirected.test.sql
  pgtap/deprecated/astarV2.0-compare-dijkstra.test.sql
  pgtap/deprecated/astarV2.0-innerQuery.sql
  pgtap/deprecated/astarV2.0-types-check.sql
  pgtap/deprecated/astarV2.0-types-check2.sql
  pgtap/deprecated/bd_astar-innerQuery.sql
  pgtap/deprecated/bd_astar-types-check.sql
  pgtap/deprecated/bd_dijkstra-innerQuery.sql
  pgtap/deprecated/bd_dijkstra-types-check.sql
  pgtap/deprecated/bd_dijkstra-v2-compare-dijkstra.sql
  pgtap/deprecated/drivingDistance-v2-innerQuery.sql
  pgtap/ksp/ksp-old-innerQuery.sql
  sql/bdAstar/bdAstar.sql
  sql/bdDijkstra/bdDijkstra.sql
  sql/deprecated/CMakeLists.txt
  sql/deprecated/apsp_johnson_v2.2.sql
  sql/deprecated/apsp_warshall_v2.2.sql
  sql/deprecated/astarV2.0.sql
  sql/deprecated/bdDijkstra-v2.sql
  sql/deprecated/bd_astar_v2.sql
  sql/deprecated/legacy.sql
  sql/deprecated/routing_dd.sql
  sql/ksp/routing_ksp.sql
  sql/legacy/routing_legacy.sql
  sql/sigs/pgrouting--3.0.0.sig
  test/bdDijkstra/doc-pgr_bdDijkstra.result
  test/bdDijkstra/doc-pgr_bdDijkstra.test.sql
Labels: Legacy

#1027 Moving to legacy developers and convenience deprecated functions
  VERSION
  pgtap/deprecated/convenience-flipEdges-types-check.sql
  pgtap/deprecated/convenience-pointToEdgeNode-types-check.sql
  pgtap/deprecated/convenience-pointsToDMatrix-types-check.sql
  pgtap/deprecated/convenience-pointsToVids-types-check.sql
  pgtap/deprecated/convenience-textToPoints-types-check.sql
  pgtap/deprecated/convenience-vidsToDMatrix-types-check.sql
  pgtap/deprecated/no_underscored-2x.test.sql
  sql/deprecated/CMakeLists.txt
  sql/deprecated/deprecated-comments.sql
  sql/deprecated/noUnderUtilities.sql
  sql/deprecated/pgr_vidsToDMatrix.sql
  sql/deprecated/pgrouting_conversion_tools.sql
  sql/deprecated/pgrouting_dmatrix_tools.sql
  sql/legacy/legacy-developers.sql
  sql/sigs/pgrouting--3.0.0.sig
Labels: Legacy

#1028 Fix components licenses
  include/c_types/pgr_components_rt.h
  include/drivers/components/articulationPoints_driver.h
  include/drivers/components/biconnectedComponents_driver.h
  include/drivers/components/bridges_driver.h
  include/drivers/components/connectedComponents_driver.h
  include/drivers/components/strongComponents_driver.h
  sql/components/articulationPoints.sql
  sql/components/biconnectedComponents.sql
  sql/components/bridges.sql
  sql/components/connectedComponents.sql
  sql/components/strongComponents.sql
  src/components/articulationPoints.c
  src/components/articulationPoints_driver.cpp
  src/components/biconnectedComponents.c
  src/components/biconnectedComponents_driver.cpp
  src/components/bridges.c
  src/components/bridges_driver.cpp
  src/components/connectedComponents.c
  src/components/connectedComponents_driver.cpp
  src/components/strongComponents.c
  src/components/strongComponents_driver.cpp
Labels: Administrative

#1029 Types legacy
  VERSION
  doc/common/CMakeLists.txt
  doc/common/cost_result.rst
  doc/common/geom_result.rst
  doc/common/types_index.rst
  doc/src/index.rst
  doc/trsp/pgr_trsp.rst
  sql/common/CMakeLists.txt
  sql/common/pgrouting-types.sql
  sql/legacy/routing_legacy.sql
  sql/sigs/pgrouting--3.0.0.sig
  sql/trsp/routing_trsp_vias.sql
  sql/trsp/trsp_V2.2.sql
  sql/trsp/viaEdges_v2.2.sql
  sql/trsp/viaVertices_v2.2.sql
  sql/trsp/vias_trsp_V2.2.sql
  sql/tsp/tsp_v2.0_coordinates.sql
  sql/vrppdtw/gsoc_vrppdtw.sql
  src/trsp/trsp.c
  tools/sql-update-scripts/pgrouting--2.5.1--2.5.2.sql
Labels: Legacy

#1032 [WIP] Full implementation of pgr_minCostMaxFlow
  include/c_types/pgr_costFlow_t.h
  include/costFlow/pgr_minCostMaxFlow.hpp
  sql/costFlow/minCostMaxFlow.sql
  sql/costFlow/minCostMaxFlow_Cost.sql
  src/common/edges_input.c
  src/costFlow/minCostMaxFlow.c
Labels: costFLow
