Repository pgRouting/pgrouting, pull requests merged in 2020-12, with the labels that each got.

#1772 Fix Issue 1760 on 3.0
  NEWS
  doc/src/release_notes.rst
  docqueries/version/doc-full_version.result
  pgtap/tsp/issues/issue-1760.sql
  src/cpp_common/Dmatrix.cpp
  src/tsp/euclideanDmatrix.cpp
Labels: Bug Fix, TSP

#1781 removing warnings from postgres & from boost
  CMakeLists.txt
  include/c_common/arrays_input.h
  include/c_common/postgres_connection.h
  include/cpp_common/interruption.h
  src/common/arrays_input.c
  src/common/get_check_data.c
Labels: Build, clang

#1780 removing warnings from postgres & from boost
  CMakeLists.txt
  include/c_common/arrays_input.h
  include/c_common/postgres_connection.h
  include/cpp_common/interruption.h
  src/common/arrays_input.c
  src/common/get_check_data.c
Labels: Build, clang

#1778 removing warnings from postgres & from boost
  CMakeLists.txt
  include/c_common/arrays_input.h
  include/c_common/postgres_connection.h
  include/cpp_common/interruption.h
  src/common/arrays_input.c
  src/common/get_check_data.c
Labels: Build, clang

#1784 Fixes server crash on pgr_pickDeliver & pgr_vrpOneDepot for 3.0
  NEWS
  doc/src/release_notes.rst
  docqueries/pickDeliver/design_pgtap.result
  docqueries/pickDeliver/doc-pickDeliver.result
  docqueries/pickDeliver/doc-pickDeliver.test.sql
  docqueries/version/doc-full_version.result
  include/cpp_common/Dmatrix.h
  include/vrp/dnode.h
  include/vrp/fleet.h
  include/vrp/pd_orders.h
  include/vrp/pgr_pickDeliver.h
  include/vrp/tw_node.h
  include/vrp/vehicle.h
  include/vrp/vehicle_node.h
  include/vrp/vehicle_pickDeliver.h
  pgtap/alpha_shape/notebook-test.sql
  pgtap/pickDeliver/pickDeliver/innerQuery.sql
  pgtap/pickDeliver/pickDeliver/issue-1725.sql
  pgtap/pickDeliver/pickDeliver/many-calls.sql
  src/cpp_common/Dmatrix.cpp
  src/pickDeliver/CMakeLists.txt
  src/pickDeliver/dnode.cpp
  src/pickDeliver/fleet.cpp
  src/pickDeliver/pd_orders.cpp
  src/pickDeliver/pgr_pickDeliver.cpp
  src/pickDeliver/pickDeliverEuclidean_driver.cpp
  src/pickDeliver/pickDeliver_driver.cpp
  src/pickDeliver/tw_node.cpp
  src/pickDeliver/vehicle_pickDeliver.cpp
Labels: Bug Fix, Pick & Delivery, VRP-OneDepot

#1782 Fixes server crash on pgr_pickDeliver & pgr_vrpOneDepot
  NEWS
  doc/src/release_notes.rst
  docqueries/pickDeliver/design_pgtap.result
  docqueries/pickDeliver/doc-pickDeliver.result
  docqueries/pickDeliver/doc-pickDeliver.test.sql
  docqueries/version/doc-full_version.result
  include/cpp_common/Dmatrix.h
  include/vrp/dnode.h
  include/vrp/fleet.h
  include/vrp/pd_orders.h
  include/vrp/pgr_pickDeliver.h
  include/vrp/tw_node.h
  include/vrp/vehicle.h
  include/vrp/vehicle_node.h
  include/vrp/vehicle_pickDeliver.h
  pgtap/alpha_shape/notebook-test.sql
  pgtap/pickDeliver/pickDeliver/innerQuery.sql
  pgtap/pickDeliver/pickDeliver/issue-1725.sql
  pgtap/pickDeliver/pickDeliver/many-calls.sql
  src/cpp_common/Dmatrix.cpp
  src/pickDeliver/CMakeLists.txt
  src/pickDeliver/dnode.cpp
  src/pickDeliver/fleet.cpp
  src/pickDeliver/pd_orders.cpp
  src/pickDeliver/pgr_pickDeliver.cpp
  src/pickDeliver/pickDeliverEuclidean_driver.cpp
  src/pickDeliver/pickDeliver_driver.cpp
  src/pickDeliver/tw_node.cpp
  src/pickDeliver/vehicle_pickDeliver.cpp
Labels: Bug Fix, Pick & Delivery, VRP-OneDepot

#1795 Issue 1725 3.2
  NEWS
  doc/src/release_notes.rst
  docqueries/pickDeliver/design_pgtap.result
  docqueries/pickDeliver/doc-pickDeliver.result
  docqueries/pickDeliver/doc-pickDeliver.test.sql
  docqueries/version/doc-full_version.result
  include/cpp_common/Dmatrix.h
  include/vrp/dnode.h
  include/vrp/fleet.h
  include/vrp/pd_orders.h
  include/vrp/pgr_pickDeliver.h
  include/vrp/tw_node.h
  include/vrp/vehicle.h
  include/vrp/vehicle_node.h
  include/vrp/vehicle_pickDeliver.h
  locale/en/LC_MESSAGES/flow-family.po
  locale/en/LC_MESSAGES/pgr_bellmanFord.po
  locale/en/LC_MESSAGES/pgr_binaryBreadthFirstSearch.po
  locale/en/LC_MESSAGES/pgr_boykovKolmogorov.po
  locale/en/LC_MESSAGES/pgr_dagShortestPath.po
  locale/en/LC_MESSAGES/pgr_edgeDisjointPaths.po
  locale/en/LC_MESSAGES/pgr_edmondsKarp.po
  locale/en/LC_MESSAGES/pgr_edwardMoore.po
  locale/en/LC_MESSAGES/pgr_maxFlow.po
  locale/en/LC_MESSAGES/pgr_maxFlowMinCost.po
  locale/en/LC_MESSAGES/pgr_maxFlowMinCost_Cost.po
  locale/en/LC_MESSAGES/pgr_pushRelabel.po
  locale/en/LC_MESSAGES/release_notes.po
  locale/pot/flow-family.pot
  locale/pot/pgr_bdAstarCost.pot
  locale/pot/pgr_bdDijkstra.pot
  locale/pot/pgr_bdDijkstraCost.pot
  locale/pot/pgr_bellmanFord.pot
  locale/pot/pgr_binaryBreadthFirstSearch.pot
  locale/pot/pgr_boykovKolmogorov.pot
  locale/pot/pgr_dagShortestPath.pot
  locale/pot/pgr_edgeDisjointPaths.pot
  locale/pot/pgr_edmondsKarp.pot
  locale/pot/pgr_edwardMoore.pot
  locale/pot/pgr_maxFlow.pot
  locale/pot/pgr_maxFlowMinCost.pot
  locale/pot/pgr_maxFlowMinCost_Cost.pot
  locale/pot/pgr_pushRelabel.pot
  locale/pot/release_notes.pot
  pgtap/alpha_shape/notebook-test.sql
  pgtap/pickDeliver/pickDeliver/innerQuery.sql
  pgtap/pickDeliver/pickDeliver/issue-1725.sql
  pgtap/pickDeliver/pickDeliver/many-calls.sql
  src/cpp_common/Dmatrix.cpp
  src/pickDeliver/CMakeLists.txt
  src/pickDeliver/dnode.cpp
  src/pickDeliver/fleet.cpp
  src/pickDeliver/pd_orders.cpp
  src/pickDeliver/pgr_pickDeliver.cpp
  src/pickDeliver/pickDeliverEuclidean_driver.cpp
  src/pickDeliver/pickDeliver_driver.cpp
  src/pickDeliver/tw_node.cpp
  src/pickDeliver/vehicle_pickDeliver.cpp
Labels: Bug Fix, Pick & Delivery, VRP-OneDepot

#1818 [vrp] creating less time consuming demo & test queries
  docqueries/pickDeliver/test.conf
  docqueries/vrp_basic/doc-pgr_vrpOneDepot.result
  docqueries/vrp_basic/test.conf
  pgtap/pickDeliver/pickDeliver/innerQuery.sql
  tools/testers/pickDeliver_pgtap_data.sql
  tools/testers/solomon_100_rc101.data.sql
Labels: Build, CI, Enhancement, Pick & Delivery, VRP-OneDepot

#1819 [vrp] creating less time consuming demo & test queries
  docqueries/pickDeliver/test.conf
  docqueries/vrp_basic/doc-pgr_vrpOneDepot.result
  docqueries/vrp_basic/test.conf
  pgtap/pickDeliver/pickDeliver/innerQuery.sql
  tools/testers/pickDeliver_pgtap_data.sql
  tools/testers/solomon_100_rc101.data.sql
Labels: Build, CI, Enhancement, Pick & Delivery, VRP-OneDepot

#1820 [vrp] creating less time consuming demo & test queries
  docqueries/pickDeliver/test.conf
  docqueries/vrp_basic/doc-pgr_vrpOneDepot.result
  docqueries/vrp_basic/test.conf
  pgtap/pickDeliver/pickDeliver/innerQuery.sql
  tools/testers/pickDeliver_pgtap_data.sql
  tools/testers/solomon_100_rc101.data.sql
Labels: Build, CI, Enhancement, Pick & Delivery, VRP-OneDepot

#1823 Added broken link to linkcheck_ignore on 3.0
  doc/conf.py.in
Labels: Documentation

#1824 Added broken link to linkcheck_ignore on 3.1
  doc/conf.py.in
Labels: Documentation

#1826 Added broken link to linkcheck_ignore on 3.2
  doc/conf.py.in
Labels: Documentation

#1832 Cleaned pgr_pickDeliver code
  include/vrp/dnode.h
  include/vrp/fleet.h
  include/vrp/optimize.h
  include/vrp/pd_orders.h
  include/vrp/pgr_pickDeliver.h
  include/vrp/solution.h
  include/vrp/tw_node.h
  include/vrp/vehicle.h
  include/vrp/vehicle_node.h
  include/vrp/vehicle_pickDeliver.h
  src/pickDeliver/dnode.cpp
  src/pickDeliver/fleet.cpp
  src/pickDeliver/optimize.cpp
  src/pickDeliver/pd_orders.cpp
  src/pickDeliver/pgr_pickDeliver.cpp
  src/pickDeliver/solution.cpp
  src/pickDeliver/tw_node.cpp
  src/pickDeliver/vehicle.cpp
  src/pickDeliver/vehicle_node.cpp
  src/pickDeliver/vehicle_pickDeliver.cpp
Labels: Enhancement, Pick & Delivery
