Repository pgRouting/pgrouting, pull requests merged in 2022-05, with the labels that each got.

#2277 Fix edge disjoint paths main
  .github/workflows/update.yml
  CMakeLists.txt
  NEWS
  doc/max_flow/pgr_edgeDisjointPaths.rst
  doc/src/release_notes.rst
  docqueries/max_flow/doc-pgr_edgeDisjointPaths.result
  docqueries/version/doc-full_version.result
  docqueries/version/doc-version.result
  src/max_flow/edge_disjoint_paths.c
  src/max_flow/edge_disjoint_paths_driver.cpp
  tools/testers/pg_prove_tests.sh
Labels: Flow, Bug Fix

#2278 Fix edge disjoint paths dev
  NEWS
  doc/max_flow/pgr_edgeDisjointPaths.rst
  doc/src/release_notes.rst
  docqueries/max_flow/doc-pgr_edgeDisjointPaths.result
  src/max_flow/edge_disjoint_paths.c
  src/max_flow/edge_disjoint_paths_driver.cpp
Labels: Flow, Bug Fix

#2279 coloring-family doc refinement
  doc/coloring/coloring-family.rst
  doc/coloring/pgr_bipartite.rst
  doc/coloring/pgr_edgeColoring.rst
  doc/coloring/pgr_sequentialVertexColoring.rst
Labels: Documentation, coloring

#2280 Breadth first search parsed literal
  doc/breadthFirstSearch/pgr_binaryBreadthFirstSearch.rst
  doc/breadthFirstSearch/pgr_breadthFirstSearch.rst
  docqueries/breadthFirstSearch/doc-pgr_binaryBreadthFirstSearch.result
  docqueries/breadthFirstSearch/doc-pgr_binaryBreadthFirstSearch.test.sql
  docqueries/breadthFirstSearch/doc-pgr_breadthFirstSearch.result
  docqueries/breadthFirstSearch/doc-pgr_breadthFirstSearch.test.sql
Labels: Documentation, Binary BFS

#2281 Maxflow parsed literal
  doc/max_flow/flow-family.rst
  doc/max_flow/pgr_boykovKolmogorov.rst
  doc/max_flow/pgr_edgeDisjointPaths.rst
  doc/max_flow/pgr_edmondsKarp.rst
  doc/max_flow/pgr_maxCardinalityMatch.rst
  doc/max_flow/pgr_maxFlow.rst
  doc/max_flow/pgr_maxFlowMinCost.rst
  doc/max_flow/pgr_maxFlowMinCost_Cost.rst
  doc/max_flow/pgr_pushRelabel.rst
  doc/src/pgRouting-concepts.rst
  docqueries/max_flow/doc-pgr_boykovKolmogorov.result
  docqueries/max_flow/doc-pgr_boykovKolmogorov.test.sql
  docqueries/max_flow/doc-pgr_edgeDisjointPaths.result
  docqueries/max_flow/doc-pgr_edgeDisjointPaths.test.sql
  docqueries/max_flow/doc-pgr_edmondsKarp.result
  docqueries/max_flow/doc-pgr_edmondsKarp.test.sql
  docqueries/max_flow/doc-pgr_maxFlow.result
  docqueries/max_flow/doc-pgr_maxFlow.test.sql
  docqueries/max_flow/doc-pgr_maxFlowMinCost.result
  docqueries/max_flow/doc-pgr_maxFlowMinCost.test.sql
  docqueries/max_flow/doc-pgr_maxFlowMinCost_Cost.result
  docqueries/max_flow/doc-pgr_maxFlowMinCost_Cost.test.sql
  docqueries/max_flow/doc-pgr_pushRelabel.result
  docqueries/max_flow/doc-pgr_pushRelabel.test.sql
Labels: Documentation, Flow

#2283 Traversal doc refine
  doc/breadthFirstSearch/CMakeLists.txt
  doc/breadthFirstSearch/images/CMakeLists.txt
  doc/breadthFirstSearch/images/bfs-ascending.png
  doc/breadthFirstSearch/images/bfs-descending.png
  doc/breadthFirstSearch/pgr_binaryBreadthFirstSearch.rst
  doc/breadthFirstSearch/pgr_breadthFirstSearch.rst
  doc/src/experimental.rst
  doc/src/proposed.rst
  doc/traversal/BFS-category.rst
  doc/traversal/pgr_depthFirstSearch.rst
  doc/traversal/traversal-family.rst
  docqueries/breadthFirstSearch/doc-pgr_binaryBreadthFirstSearch.result
  docqueries/breadthFirstSearch/doc-pgr_binaryBreadthFirstSearch.test.sql
  docqueries/breadthFirstSearch/doc-pgr_breadthFirstSearch.result
  docqueries/breadthFirstSearch/doc-pgr_breadthFirstSearch.test.sql
  docqueries/dijkstra/doc-pgr_dijkstraCost.result
  docqueries/dijkstra/doc-pgr_dijkstraCost.test.sql
  docqueries/traversal/doc-pgr_depthFirstSearch.result
  docqueries/traversal/doc-pgr_depthFirstSearch.test.sql
Labels: Documentation, Binary BFS

#2284 [version] refinement of documentation
  doc/src/index.rst
  doc/src/routingFunctions.rst
  doc/version/CMakeLists.txt
  doc/version/pgr_full_version.rst
  doc/version/pgr_version.rst
  doc/version/reference.rst
Labels: Documentation

#2285 Tsp parsed literal
  doc/conf.py.in
  doc/tsp/TSP-family.rst
  doc/tsp/pgr_TSP.rst
  doc/tsp/pgr_TSPeuclidean.rst
  doc/version/pgr_full_version.rst
  doc/version/pgr_version.rst
  doc/version/reference.rst
  src/common/coordinates_input.c
  src/common/matrixRows_input.c
Labels: Binary BFS

#2287 [extractVertices] refining documentation
  doc/topology/pgr_createTopology.rst
  doc/topology/pgr_extractVertices.rst
Labels: Documentation, Topology

#2291 Topology parsed literal
  doc/topology/images/CMakeLists.txt
  doc/topology/images/topology.png
  doc/topology/pgr_extractVertices.rst
  docqueries/topology/doc-pgr_extractVertices.result
  docqueries/topology/doc-pgr_extractVertices.test.sql
  include/c_common/get_check_data.h
  sql/common/CMakeLists.txt
  sql/common/_checkcolumn.sql
  sql/common/_checkquery.sql
  sql/sigs/pgrouting--3.4.sig
  sql/topology/extractVertices.sql
  src/common/get_check_data.c
  tools/testers/innerQuery.sql
Labels: Documentation, Topology

#2294 chore: Set permissions for GitHub actions
  .github/workflows/boost_version.yml
  .github/workflows/check-files.yml
  .github/workflows/check-queries.yml
  .github/workflows/clang.yml
  .github/workflows/doc-check.yml
  .github/workflows/locale-and-website.yml
  .github/workflows/macos.yml
  .github/workflows/release.yml
  .github/workflows/ubuntu.yml
  .github/workflows/update.yml
Labels: CI

#2290 improving pgrouting installation page
  doc/src/pgRouting-installation.rst
Labels: Documentation

#2296 [links] link ignore needed for other languages
  doc/conf.py.in
Labels: Translation

#2298 New function pgr degree
  NEWS
  doc/conf.py.in
  doc/src/release_notes.rst
  doc/topology/CMakeLists.txt
  doc/topology/pgr_degree.rst
  doc/topology/topology-functions.rst
  docqueries/topology/CMakeLists.txt
  docqueries/topology/degree.result
  docqueries/topology/degree.test.sql
  docqueries/topology/test.conf
  pgtap/topology/degree/edge_cases.pg
  pgtap/topology/degree/inner_query.pg
  pgtap/topology/degree/no_crash_test.pg
  pgtap/topology/degree/types_check.pg
  sql/sigs/pgrouting--3.4.sig
  sql/topology/CMakeLists.txt
  sql/topology/degree.sql
Labels: Functionality/New, Functionality/proposed

#2303 chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Labels: CI
